@model RacingCup.Models.TournamentTable

<div id="table-tournament">
    <h2>Tournament Teams - Junior</h2>
    <div class="table-container">
        @for (int i = 0; i < Model.JuniorTeams.Count; i++)
        {
            <div class="column-t" style="padding: @((i != 0) ? (124 * (Math.Pow(i, 2) - (i-1)))/2 : "0")px 0px">
                @for (int j = 0; j < Model.JuniorTeams[i].Count; j++)
                {
                    <form method="post" asp-controller="TournamentTable" asp-action="Update">
                        <input type="hidden" name="row" value="@(i)" />
                        <input type="hidden" name="col" value="@(j)" />
                        <input type="hidden" name="category" value="Junior" />
                        <button class="@((Model.JuniorTeams[i][j].Status) ? "button-t-blue" : "button-t-red")"
                                type="submit"
                        @((Model.JuniorTeams.Count - 1 != i) && (Model.JuniorTeams[i].Contains(Model.JuniorTeams[i][j]) && Model.JuniorTeams[i + 1].Contains(Model.JuniorTeams[i][j])) ? "disabled" : "")
                        @((Model.JuniorTeams[i].Count == 1) || !(Model.JuniorTeams[i][j].Status) ? "disabled" : "")>
                            @(Model.JuniorTeams[i][j].Name)
                        </button>
                    </form>
                }
            </div>
        }
    </div>
</div>