@model RacingCup.Models.TournamentTable

<div id="table-tournament">
    <h2>Tournament Teams - Senior</h2>
    <div class="table-container">
        @for (int i = 0; i < Model.SeniorTeams.Count; i++)
        {
            <div class="column-t">
                @for (int j = 0; j < Model.SeniorTeams[i].Count; j++)
                {
                    <button class="@((Model.SeniorTeams[i][j].Status) ? "button-t-blue" : "button-t-red")"
                            onclick="openModal(@i, @j, 'Senior', @Model.SeniorTeams[i].Count)"
                    @((Model.SeniorTeams.Count - 1 != i) && (Model.SeniorTeams[i].Contains(Model.SeniorTeams[i][j]) && Model.SeniorTeams[i + 1].Contains(Model.SeniorTeams[i][j])) ? "disabled" : "")
                    @((Model.SeniorTeams[i].Count == 1) || !(Model.SeniorTeams[i][j].Status) ? "disabled" : "")>
                        @Model.SeniorTeams[i][j].Name
                    </button>
                }
            </div>
        }
    </div>
</div>

<!-- Ventana Modal -->
<div id="teamModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h3 id="modalTeamName"></h3>
        <p><strong>Integrantes:</strong> <span id="modalTeamElements"></span></p>
        <p><strong>Escuela:</strong> <span id="modalTeamSchool"></span></p>
        <p><strong>Categoría:</strong> <span id="modalTeamCategory"></span></p>
        <p><strong>Mejor Tiempo:</strong> <input type="number" step="0.01" id="modalTeamBestTimeInput" /></p>
        <p><strong>Estatus:</strong> <span id="modalTeamStatus"></span></p>
        <div class="modal-actions">
            <form method="post" asp-controller="TournamentTable" asp-action="Update" onsubmit="setBestTime(this)">
                <input type="hidden" id="modalRow" name="row" />
                <input type="hidden" id="modalCol" name="col" />
                <input type="hidden" id="modalCategory" name="category" />
                <input type="hidden" id="modalBestTime" name="bestTime" />
                <button type="submit" class="button-t-blue">Clasificar</button>
            </form>
            <form method="post" asp-controller="TournamentTable" asp-action="SetLoser" id="formSetLoser" onsubmit="setBestTime(this)">
                <input type="hidden" id="modalRowLoser" name="row" />
                <input type="hidden" id="modalColLoser" name="col" />
                <input type="hidden" id="modalCategoryLoser" name="category" />
                <input type="hidden" id="modalBestTimeLoser" name="bestTime" />
                <button type="submit" class="button-t-red">Desclasificar</button>
            </form>
            <button class="button-t-secondary" onclick="closeModal()">Cerrar</button>
        </div>
    </div>
</div>

<script>
    var teamsData = @Html.Raw(Json.Serialize(Model.JuniorTeams));
</script>
<script src="~/js/ModalWindow.js"></script>